<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.psdroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PsDroidNew"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".ui.forget_password.PasswordChanged" />
        <activity android:name=".ui.forget_password.SetPassword" />
        <activity android:name=".ui.forget_password.VerifyOTP" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.introduction.IntroductoryActivity"
            android:label="PsDroid Tracker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoadingActivity"
            android:label="LoadingActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.forget_password.ForgotPassword"
            android:label="ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.FeedbackActivity"
            android:label="Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Home_Help"
            android:label="Help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.AccountsActivity"
            android:label="AccountsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.add_users.AddUsersActivity"
            android:label="AddUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.WhereAreYourActivity"
            android:label="WhereAreYouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.FakeCallerActivity"
            android:label="FakeCallerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.FakeCall"
            android:label="FakeCall"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainScreen"
            android:label="MainScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.AccountCreatedActivity"
            android:label="AccountCreatedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAP_KEY" />
    </application>

</manifest>